// Define variables for your color scheme

// For example:
$red: #FF4145;
$blue: #0D6EFD;
$yellow: #FFEC43;
$orange: #FC6208;
$gray: #0E0000;
$light-gray: #DDDDDD;
$creme: #FCFAEE;
$saumon: #FF5E5B;
$lavande: #AB9DFF;
$jaune_pale: #FFFBC2;
$gazon: #36C40F;
$grey: #BBBBBB;
$gris_fonce: #888888;
$citrouille: #FE8B48
