// Import page-specific CSS files here.
@import "home";

.query_categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  margin-bottom: 0px !important;
}

legend {
  display: none;
}

.tag-item {
  margin: 0px;

}

.check_boxes {
  justify-content: space-between;
  margin: 0px;
}

// .checkboxpublic {
//   text-align: center;
//   margin: 0 10px 0 10px;
//   color: $lavande;
//   border-color: $lavande;
// }


// .checkboxprive {
//   text-align: center;
//   margin: 0 10px 0 10px;
//   color: $saumon;
//   border-color: $saumon;
// }

.rechercher-btn {
  font-weight: 600;
  color: white
}