// Import page-specific CSS files here.
@import "home";

.query_categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

legend {
  display: none;
}

.checkbox {
  text-align: center;
  margin: 0 30px 0 30px;
}

.check_boxes {
  justify-content: space-between;
  margin-left: 130px;
}
