<div class="banner">
      <h1>Tribu</h1>
      <div class="text-banner">
      <h4>Exhausteur d'aventures</h4>
      <p>En France, quels que soient la saison ou le mois de l’année, il se passe toujours quelque chose !</p>
      </div>
      <%# <div class="banner-btn">
    <%= link_to ">", events_path, class: "btn-flat"%>
    </div>
</div>
