<h1>BUTTONS</h1>

<button class="px-4 py-3 text-white rounded  fs-4 bg-purple border-0 text-decoration-none">petit violet</button>

<button class="px-4 py-3 text-grey rounded  fs-4 bg-yellow border-0 text-decoration-none">petit jaune</button>

<%= link_to "Routes path", root_path, class: "px-4 py-3 text-white rounded  fs-4 bg-purple border-0 text-decoration-none" %>

<button class="px-4 py-2-5 text-white radius-btn-square bg-purple border-0 text-decoration-none">petit violet</button>

<button class="px-4 py-2-5 text-grey radius-btn-square bg-yellow border-0 text-decoration-none">petit jaune</button>
