<h1>BUTTONS</h1>

<button class="px-3 py-2 text-white rounded-pill bg-purple border-0 text-decoration-none">petit violet</button>

<button class="px-3 py-2 text-grey rounded-pill bg-yellow border-0 text-decoration-none">petit jaune</button>

<%= link_to "Routes path", root_path, class: "px-3 py-2 text-white rounded-pill bg-purple border-0 text-decoration-none" %>

<button class="px-4 py-2-5 text-white radius-btn-square bg-purple border-0 text-decoration-none">petit violet</button>

<button class="px-4 py-2-5 text-grey radius-btn-square bg-yellow border-0 text-decoration-none">petit jaune</button>
