    <div class="col-6">
      <div class="card-product-map">
        <img src="https://img-0.journaldunet.com/QCybYD5H0b3-Wuqjy9qNd-7MG8k=/1500x/smart/2b7b473c1ebe416ead81f3f6179a1d75/ccmcms-jdn/11436203.jpg" >


          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Robert</h5>
                <p class="card-text">Excellent moment en famille ! A refaire </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Severine</h5>
                <p class="card-text">Super experience, les enfants ont beaucoup aimé</p>
                <p class="card-text"><small class="text-muted">Last updated 18 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Patrick</h5>
                <p class="card-text">Vraiment pas déçu, foncez ça vaut le coup !!!</p>
                <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
              </div>
            </div>

        </div>
      </div>
  </div>
