<%# dans home %>
<div class="container">
  <div class="my-5">
    <h3> Evenements locaux à la carte </h2>
    <div class="cards">
      <% @last_events.each do |event| %>

<%# #######################@ %>
      <div class="card mt-3 mb-2" style="border: 1px solid grey rounded;">
        <%= link_to event_path(event), class: "clickable-cards" do %>
              <div class="img-container">
                <div class="img-inner">
                  <div class="inner-skew" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path event.photo.key, height: 300, crop: :fill %>')">
                  </div>
                </div>
              </div>
              <div class="text-container">
                <div class="d-flex flex-column justify-content-around align-items-center block-text-card">
                  <h3> <%= event.address %></h3>
                  <h5> <%= event.name %></h5>
                    <p class="line-clamp description-text"><%= event.description %></p>
                </div>
              </div>
        <% end %>
      </div>
<%# #######################@ %>


      <% end %>
    </div>
  </div>
</div>


<%#

<h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
  </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
      <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
        <p class="card-text">This is a company that builds websites, web .</p>
  </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
      <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
  </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
      <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
        <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
        <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
  </div>
    </div>
  </div> %>
