<div class="d-flex footer position-sticky justify-content-around">
  <div class="footer-copyright">
    Copyright @2022 | Designed by Tribu Team
  </div>
  <div class="footer-links">
    <a href="http://www.github.com" class="fa-brands fa-github fs-3 text-decoration-none"></a>
    <a href="http://www.facebook.com" class="fa-brands fa-facebook fs-3 text-decoration-none"></a>
  </div>
</div>
