<div class="bloctext p-6 m-6 mt-6" >
  <p class="text-center text-gray-600 fs-5">
     Envie d'un voyage improvisé ? <br> De partir à l'aventure sur les routes de France <img src="https://res.cloudinary.com/dzqtwcj0p/image/upload/v1654772619/icons8-van-64_1_fzumu3.png" class="img-fluid img-van" alt="van"> ?
     <br> Partagez le quotidien de ceux qui font vivre leur ville en un clic avec <span class="text-violet">Tribu</span>.
     <br> Ici vous pourrez préparer votre itinéraire et partir à la rencontre des villages et leurs habitants.</p>
  <div class="text-center p-2 m-1 mt-4">
    <%= link_to "Voir toutes les activités", events_path, class: "bg-purple border-0 fs-6 p-3 px-3 py-2-5 rounded-2 text-center text-decoration-none text-white" %>
  </div>
</div>
