<h1>Pages#home</h1>

<%= render "shared/banner" %>

<%= link_to "Voir toutes les activités", events_path%>
<%= link_to "Proposez une activité", new_event_path %>

<% @last_events.each do |event| %>
<strong><%= link_to event.name, event_path(event) %>|</strong>
<% end %>
