// .mapboxgl-ctrl-geocoder {
//   max-width: none;
//   width: 100%;
//   border: 1px solid lightgrey;
//   box-shadow: none;
//   background-color: transparent;
// }

.query-city {
  margin-bottom: none !important;
}

#address_home {
  .mapboxgl-ctrl {
    background-color: white;
    margin-bottom: none !important;
    box-shadow: 10px;
    width: 100px;
    border-radius: 5rem !important;
  }

  // tout le style en rapport avec search home


}

.madiv{
  position: relative;
  top: 6px;
  left: 13px;
}

#address_index {
  .mapboxgl-ctrl {
    background-color: white;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .mapboxgl-ctrl-geocoder {
    max-width: unset !important;
  }

  // tout le style en rapport avec search index


}
