.banner {
  // background-image: url(https://community.hivency.com/hubfs/Top%2010%20des%20meilleurs%20amis-1.jpg);
  background-position: center center;
  text-align: center;
  background-size: cover;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  .video {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.superpose {
  background-color: black;
  background-position: center center;
  text-align: center;
  background-size: cover;
  padding: 30px 0;
}

.litle {
  padding: 160px;
  margin-top: -220px;
  // position: relative;
  position: absolute;
  padding-top: 130px;
}

.big{
  margin-bottom: 20px;

}

.banner h1 {
  font-size: 3.5rem;
}
.banner p{
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 0 rgb(47, 47, 47);
}

.banner h4 {
  font-size: 57px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
// .banner-search-card {
//  }
.text-banner {
  margin-bottom: 12rem !important;
  text-align: center;
  margin-top: 1px;
  color: $white;
  // position: absolute;
  // top: 15%;
  // left: 40%;
}
.banner-btn {
  display: flex;
  justify-content: center;
  border-radius: 5rem;
}
.card-form {
  border-radius: 5px;
  background: white;
  border-color: gray;
  // position: absolute;
  // top: 362px;
}
.search {
  width: 100%;
  margin-bottom: none;
  margin-top: 20px;
  height: 50px;
  background-color:#fff;
  padding: 10px;
  border-radius: 5px;
}
.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear;
}
.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: $lavande;
    font-size: 19px;
    font-weight: 300;
    // color: black;
    transition: width 0.4s linear;
    text-decoration: none;
}
.form-query {
  // box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}
.search-icon {
    height: 34px;
    min-width : 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $lavande;
    font-size: 10px;
    bottom: 30px;
    border-style: none;
}
.mb-0-important {
  margin-bottom: 0 !important;
}

// .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions{
//   box-shadow: none;
// }

.madiv * .mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
  box-shadow: none;
}


// @media only screen and (min-width: 960px) {
//   .banner
//   {
//     width: 960px;
//     height: auto;
//   }
// }
// @media only screen and (min-width: 1440px) {
//   .banner
//   {
//     width: 1440px;
//     height: auto;
//   }
// }

@media only screen and (min-width: 2000px) {
  .banner
  {
    width: 2000px;
    height: auto;
  }
}
@media only screen and (max-device-width: 480px) {
 .banner
  {
    width: 480px;
    height: auto;
  }
}
@media only screen and (device-width: 768px) {
 .banner
  {
    width: 768px;
    height: auto;
  }
}
