.banner {
  background-image: url(https://community.hivency.com/hubfs/Top%2010%20des%20meilleurs%20amis-1.jpg);
  background-position: center center;
  background-size: cover;
  padding: 90px 0;
  height: 90vh;
}
.text-banner {
  text-align: center;
}

.banner-btn {
  display: flex;
  justify-content: center;
}
