
.bg-purple { background-color: $lavande; }

.bg-yellow { background-color: $yellow; }

.bg-saumon { background-color: $saumon; }

.btn-square-md { 
  border-radius: 5px; 
  background-color: rgba(171,158,255,0.6);
}

.btn-square-md:hover { 
  background-color: $lavande;
}




// .py-2-5 { padding-top: 0.8rem; padding-bottom: 0.8rem; }
