
.bg-purple { background-color: $lavande; }

.bg-yellow { background-color: $yellow; }

.bg-saumon { background-color: $saumon; }

.radius-btn-square { border-radius: 10px; }

.py-2-5 { padding-top: 0.8rem; padding-bottom: 0.8rem; }
