.calendar td { 
  height: 100px; 
  width: 14.28%;
}

.calendar .nav-item.nav-link > a {
  color: red !important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  text-decoration-line: none !important;
  color: inherit;
  color: $lavande !important;
}

.table-striped tr th {
  background-color: lavenderblush !important;
}
.nav-item > a {
  color: $lavande !important;
}