// .clickable-cards {

// }
.card-image {
  height: 100px;
  object-fit: cover;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  transition: 0.3s;
  display: flex;
  padding: 0 5px 0 5px;
}

.block-text-card {
  margin: 1rem;
}

.clickable-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

// .info-content {
//   display: flex;
// }

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
