
.card-image {
  height: 100px;
  object-fit: cover;
}

.card-home {
  border-radius: 5px;
  width: 18rem;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.582);
}


.card-home:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transform: translateY(0);
}

#events-container {
  .card-home {
    flex-basis: 49%;
  }
}

.text-cards-home {
font-weight: 100;
}


.cards {
  transition: 0.3s;
  display: flex;
}

.block-text-card {
  margin: 1rem;
}

// .clickable-cards:hover {
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
// }

// .info-content {
//   display: flex;
// }

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
