.card-product-infos {
  border : 1px;
  border-radius: 4px !important;
  background-color: white ;
  padding: 10px;
  height: 600px;
}

.card-product-infos-top {
  display: flex;
  text-align: center;
  border-bottom: 2px solid $yellow
}

.card-product-infos-top img {
  align-items: center;
}

.card-product-infos-top img {
  width: 30px;
  height: 30px;
}

.card-product-infos-bottom {
  color: $gris_fonce
}

.card-product-infos-address {
  color: $prune;
}
