.card-product-map {
  border : 1px;
  border-color: black;
  border-radius: 10px !important;
  background-color: white;
  overflow: hidden;
  // height: 600px;
}

.text-resa {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF5E5B !important;
  margin-top: 3rem;
  background-color: rgba(255, 94, 91, 0.3);
}
