.card-product-infos {
  border : 1px;
  border-radius: 10px !important;
  background-color: white ;
  padding: 10px;
}

.card-product-infos-top {
  display: flex;
  text-align: center;
  color : $lavande;
}

.card-product-infos-top img {
  align-items: center;
}

.card-product-infos-top img {
  width: 30px;
  height: 30px;
}

.card-product-infos-bottom {
  color: $gris_fonce;
  background-color: $saumon;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-product-infos-address {
  color: $prune;
}

.show-container {
  background-color: $lavande;
}
