.card-product-map {
  border : 1px;
  border-color: black;
  border-radius: 10px !important;
  background-color: white;
  overflow: hidden;
  // height: 600px;
}

.text-resa {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $saumon;
  margin-top: 3rem;
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
}

.text-resa:hover {
  color: red;
}

.date {
  font-size: 30px;
}

.address {
background-color: rgba(254, 248, 248, 0.4);
}

.address > h6 {
padding: 3px;
}
