.footer {
  background: $creme;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
  flex-direction: column;
  padding: 25px 0;
  margin-top: 40px;
}

.login {
  position: relative;
}

.footer-copyright {
  font-family: "Barlow Semi Condensed", "Roboto", "sans-serif";
  color: $prune;
  display: flex;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $prune;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 5px;
}
.footer-links a:hover {
  opacity: 1;
  color:  $saumon
}
