.footer {
  background: #fff;
  align-items: center;
  height: 50px;
  border-top: outset;
}

.footer-copyright {
  font-family: "Barlow Semi Condensed", "Roboto", "sans-serif";
  color: #FF5E5B;
  margin: 2ch;
}

.footer-links {
  margin-bottom: 1ch;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 5px;
}

.footer-links a {
  margin-top: 1ch;
  color: $saumon;
}

.footer-links a:hover {
  opacity: 1;
  color:  $lavande
}
