.form-event {
background-color: $jaune_pale;
border-radius: 18px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $lavande;
  border: 1px solid $lavande;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tag-selector:checked + label {
  background-color: $saumon;
  color: white;
}
