.form-event {
background-color: $jaune_pale;
border-radius: 18px;
color: $lavande;
}

.form-control {
 background-color: $white;
 box-shadow: 3px 3px 3px $light-gray;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #AB9DFF;
  white-space: nowrap;
  margin-left: 0.5rem;
}

.tag-selector:checked + label {
  background-color: $lavande;
  color: white;
}

.container-form-event {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.photo {
  margin-left: 5rem;
  margin-right: 5rem;
}
.input {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.input-1 {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.input-2 {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.input-3 {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.input-4 {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.form-check {
  padding-left: 0px;
  padding-bottom: 10px;
  font-size: 14px;
}

.shadow-tribu {
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}
