.navbar-tribu {
  justify-content: space-between;
  background: $saumon;
  height: $navbar-height;
}

.navbar-tribu .navbar-collapse {
  flex-grow: 0;
}

.navbar-tribu .navbar-brand img {
  width: 60px;
  border-radius: 50px;
}

.navbar-tribu .nav-item {
  display: flex;
  align-items: center;
}

.navbar-tribu .text-link  {
  color: white;
  text-decoration: none;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  letter-spacing: 0.2ch;
  margin-right: 2ch;
}
