.navbar-tribu {
  justify-content: space-between;
  background: $white;
  height: 70px;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.logo-tribu {
  font-weight: 700;
  font-size: 31px;
}

.navbar-tribu .navbar-collapse {
  flex-grow: 0;
}

.navbar-tribu .navbar-brand img {
  width: 40px;
}

.navbar-tribu .nav-item {
  display: flex;
  align-items: center;
}

.navbar-tribu .text-link  {
  color: $lavande;
  text-decoration: none;
  align-items: center;
  letter-spacing: 0.2ch;
  margin-right: 2ch;
}

.pe-auto {
  background-color: $lavande;
  color: $white;
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
