#tag-price {
  background-color: $saumon;
  text-align: center;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.tag-price {
  background-color: $lavande;
}

.tag-category {
  background-color: $yellow
}
