
.text-violet {
  color: $lavande;
}

.text-gray-600 {
  color: grey;
}

 .bloctext {
  text-align: center;
  width: 900px;
  box-shadow: 0 10px 20px rgba(150, 150, 150, 0.3);
  padding: 40px;
  border-radius: 5px;
  box-shadow: grey;
  margin: 0 auto;
  margin-top: 80px;
 }

.img-van {
  width: 28px;
}
