// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import 'js-autocomplete/auto-complete';
@import "social-share-button";
@import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/forms";
@import "flatpickr/dist/flatpickr";
